# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv


# Environment variables
.env

# Sensitive profile
data/*

#useless files
test_agent.ipynb
plan.txt
requirements.txt
config.py
main.py
llm_wrapper_safe.py
