# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv


# Environment variables
.env

# Sensitive profile
data/*
_TEST/*

# Except profile.json
!data/profile.json

#useless files
test_agent.ipynb
plan.txt
requirements.txt
config.py
main.py
llm_wrapper_safe.py
